.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    color : #c4c4e4;
    font-size: 2rem;
    background-color: #464658;
    padding: 0 1.6rem;
    margin: 0;
    font-family: sans-serif;
}
 
.notice{
    text-align: center;
    background-color: #53536d;
    font-size: 1.6rem;
    font-family : sans-serif;
    color :#c4c4e4;
    padding : 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.281);
}

.options__p{
   
   font-weight: bolder;
}

.options__btn{
   background: none;
   border:  none;
   padding : 0;
   color : #c4c4e4;
  font-size: 1.6rem;
 }

 @media (max-width : 720px){
     .options{
         font-size: 1.5rem;
     }

     .options__btn{
         font-size: 1.5rem;
     }
 }